<mat-card style="background-color:darkblue; ;">
  <h2 style="text-align: center; color: white;">Sistema Integral de carga de Pedidos</h2> 
</mat-card>

<mat-card style="background-color: gold;padding: 0;text-align: center;
">
  <a routerLink="/pedidos" style="width: 19.5%;
  margin-right: 0.625%;
  text-align: center;">
    <button mat-button>
      <mat-icon>table_view</mat-icon>
      Pedidos
  </button></a>

<a routerLink="/productos" style="width: 19.5%;
margin-right: 0.625%;
text-align: center;">
  <button mat-button>
    <mat-icon>assignment</mat-icon>
    Productos
  </button>
</a>

<a routerLink="/clientes" style="width: 19.5%;
margin-right: 0.625%;
text-align: center;">
  <button mat-button>
    <mat-icon>account_box</mat-icon>
    Clientes
  </button>
</a>

</mat-card>

<router-outlet></router-outlet>
